@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
/* UI Home */
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header{
    background: lightblue;
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    border-bottom: 2px solid #ccc;
}
/* Mengatur lebar menu 20% */
aside{
    flex: 20%;
    background: lightblue;
}
/* Mengatur lebar konten utama 80% */
section.main{
    flex: 80%;
    background: #fff;
    min-height: 530px;
    padding: 15px 20px;
}
/* Mengatur footer */
footer{
    background: #ccc;
    color: #555;
    padding: 20px 20px;
    text-align: center;
}
/* Mengatur layar (responsive */
@media (max-width: 700px) {
    .container-home{
        flex-direction: column;
    }
}
/* Membuang padding tag ul */
.menu{
    padding: 0;
}
/* Menambah border bawah tag li */
.menu li {
    border-bottom: 2px solid #ccc;
}
/* Mengatur desain menu tag a */
.menu a{
    display: block;
    padding: 20px;
    list-style: none;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.menu a:hover{
    background: lightcoral;
}
/* End UI Home */

/* UI Login */
/* Mengatur kotak form login lebar 400px */
.login-box{
    margin-top: 150px;
    flex-basis: 400px;
    background: #fff;
    padding: 20px;
    height: 45vh;
    border-radius: 10px;
}
/* Mengatur judul form dengan border bawah dan posisi di tengah */
.login-box h2{
    border-bottom: 1px solid #ccc;
    color: #555;
    text-align: center;
    padding-bottom: 20px;
    margin: 0 0 20px;
}
/* Mengatur tsg input dan select memenuhi container */
input, select {
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    outline-color: lightblue;
    border-radius: 10px;
}
/* Mengatur tampilan tombol */
input[type=submit] {
    background-color: lightcoral;
    transition: 0.5s;
    border: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
input[type=submit]:hover{
    opacity: 0.6;
}
.container-login{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: lightblue;
    height: 100vh;
}
/* End UI Login */